[Desktop Entry]
Name=Welcome to Fedora
Name[as]=Fedora লৈ স্বাগতম
Name[bg]=Добре дошли във Fedora
Name[cs]=Vítejte ve Fedoře
Name[da]=Velkommen til Fedora
Name[de]=Willkommen bei Fedora
Name[es]=Bienvenido a Fedora
Name[et]=Teretulemast Fedorasse
Name[eu]=Ongi etorri Fedora-ra
Name[fi]=Tervetuloa Fedoraan
Name[fr]=Bienvenue sur Fedora
Name[gu]=Fedora માં સ્વાગત છે
Name[hi]=फेडोरा में स्वागत है
Name[hu]=Üdvözli a Fedora
Name[it]=Benvenuti in Fedora
Name[ja]=Fedora へようこそ
Name[kk]=Fedora-ға қош келдіңіз
Name[ko]=Fedora에 오신것을 환영합니다 
Name[lt]=Sveiki pradėję naudoti Fedora
Name[mr]=फेडोरावर स्वागत आहे
Name[nl]=Welkom bij Fedora
Name[pa]=ਫੇਡੋਰਾ ਵਲੋਂ ਜੀ ਆਇਆਂ ਨੂੰ
Name[pl]=Witaj w Fedorze
Name[pt_BR]=Bem-vindo ao Fedora
Name[ru]=Добро пожаловать в Fedora
Name[sk]=Vitajte v systéme Fedora
Name[sv]=Välkommen till Fedora
Name[ta]=Fedora க்கு வரவேற்கிறோம்
Name[uk]=Вітаємо у Fedora
Name[zh_CN]=欢迎使用 Fedora
Name[zh_TW]=歡迎使用 Fedora
Exec=/usr/share/anaconda/gnome/fedora-welcome
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
