# Kickstart file for composing the "Qubes" spin of Fedora

# Package manifest for the compose.  Uses repo group metadata to translate groups.
# (@base is added by default unless you add --nobase to %packages)
# (default groups for the configured repos are added by --default)
%packages
@base-x --nodefaults
@fonts --nodefaults
@kde-desktop-qubes
-kde*
qubes-kde-dom0
kernel-qubes-dom0
qubes-core-dom0
qubes-gui-dom0
qubes-manager
qubes-template-fedora-14-x64
@filesystems
%end
