[Unit]
Description=Initial Setup configuration program
After=livesys.service plymouth-quit-wait.service
After=systemd-vconsole-setup.service
Before=display-manager.service getty@tty1.service getty@ttyUSB0.service
Before=serial-getty@ttyS0.service serial-getty@ttyO0.service serial-getty@ttyO2.service
Before=serial-getty@ttyAMA0.service serial-getty@ttymxc0.service serial-getty@ttymxc3.service serial-getty@hvc0.service
Conflicts=plymouth-quit-wait.service initial-setup-text.service initial-setup-graphical.service
ConditionKernelCommandLine=!rd.live.image

[Service]
Type=oneshot
TimeoutSec=0
StandardInput=tty
StandardOutput=tty
RemainAfterExit=no
ExecStartPre=/bin/kill -55 1
ExecStartPre=-/bin/plymouth quit
ExecStart=/usr/bin/run-initial-setup
ExecStartPost=/bin/kill -54 1

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
