include Makefile firstboot.spec
recursive-include init firstboot
recursive-include po *.po *.pot Makefile
recursive-include progs firstboot
recursive-include modules *.py
recursive-include themes default
